<a role="button" href="{{ path('admin_lexing_vehicle_vehicle_edit', {id:object.id, action:'contractSet'}) }}" class="btn btn-sm btn-default">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a>