<td class="sonata-ba-list-field sonata-ba-list-field-boolean" objectid="{{ object.id }}">
    {% if object.onSale %}
        <span class="label label-success is-on-sale">是</span>
    {% else %}
        <span class="label label-danger is-on-sale">否</span>
    {% endif %}
</td>