{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workflow</h1>
    <div>
        {{ workflowDefinition.description|raw }}
        <ul>
        {% for td in workflowDefinition.taskDefinitions %}
            <li>
                {{ td.description }}
                {% if workflow.tasks[td.identifier] is defined %}
                    <br/>
                    <a target="_blank" href="{{ path('lx_workflow_task', {id:workflow.tasks[td.identifier].id}) }}">点击查看</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}